<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
    <h1>Поиск книг</h1>
    <form th:action="@{/books/search}" th:method="GET">
        <div>
            <label for="query">Поиск по книгам: </label>
            <input type="text" id="query" name="query" th:value="${ query != null ? query : '' }">
            <input type="submit" value="Поиск">
        </div>
    </form>
    <div th:if="${books != null}">
        <div th:if="${books.size() == 0}">
            Книг по заданному запросу не найдено
        </div>
        <div th:unless="${books.size() == 0}">
            <div th:each="book : ${books}">
                <div>
                    <h2 th:text="${book.getName()}"></h2>
                    <div th:if="${book.getOwner() != null}">
                        <h4 th:text="${'Сейчас у ' + book.getOwner().getName()}"></h4>
                    </div>
                    <div th:unless="${book.getOwner() != null}">
                        <h4>Книга свободна</h4>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</body>
</html>