<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br />
    <input type="submit"  value="Edit" />
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="DELETE" />
</form>
</body>
</html>