<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Люди</title>
</head>
<body>
    <p th:text="${person.getName() + ', ' + person.getYear()}"></p>
    <hr />
    <div th:if="${!books.isEmpty()}">
        <b >Книги: <br/></b>
        <div th:each="book : ${books}">
                <p th:style="${book.isExpired()} ? 'color:red' : ''" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
        </div>
        <hr />
    </div>

</body>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}"><button>Редактировать</button></a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <button type="submit">Удалить</button>
</form>

</html>